<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Reply Notification</title>
</head>
<body>
    <h1>Hello <% =name %></h1>
    <p>A new reply has been added to your question in the vedio"<%=title %>"</p>
    <p>Please! login to our website to check the reply and continue discussion!</p>
    <p>Thanks for being a part of oour community1</p>
</body>
</html>